<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{>headers}}
    <h4>About</h4>
    <p>{{ title }}</p>
    {{>footer}}
  </body>
</html>
